.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.info {
  color: #6ee7b7;
  margin-left: 15px;
}

.buttons-container {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.buttons-container button {
  color: #22d3ee;
}

.buttons-container button:hover {
  border-color: #0891b2;
}

.buttons-container button:disabled {
  cursor: auto;
  background-color: #22d3ee;
  border: 3px solid transparent;
}
