.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info {
  color: #6ee7b7;
  margin-left: 20px;
}
